@charset "UTF-8";
.row_clear:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address,
del, em, img, small, strong, b, u, i, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
button,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  word-wrap: break-word;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: inherit;
  font-weight: inherit;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

a img {
  border: none;
}

article, aside, details, figure, footer, header, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  color: #000;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  color: #660000;
  text-decoration: none;
}

a:hover img {
  opacity: 0.8;
}

a:focus {
  color: #660000;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

li, ol {
  list-style: none;
}

button:focus, input:focus, a:focus {
  outline: none;
}

/*------------------- Wraper -------------------*/
.wrapper {
  overflow: hidden;
}

.container {
  width: 970px;
  margin: 0 auto;
  padding: 0 52px;
}

.wrap-fl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*------------------- Component -------------------*/
.title_h2 {
  font-size: 24px;
  color: #660000;
  line-height: 1.8;
  font-weight: bold;
  position: relative;
}

.text {
  font-size: 2.6rem;
  line-height: 1.6;
  text-align: justify;
}

.title_line {
  width: 110%;
  margin-top: -6rem;
  margin-left: -5%;
  margin-right: -5%;
  -webkit-transform: rotate(-3.5deg);
  -ms-transform: rotate(-3.5deg);
  transform: rotate(-3.5deg);
  background: #ffffff;
  padding: 3rem 0 1rem;
  text-align: right;
  position: relative;
  z-index: 90;
  margin-bottom: 6rem;
}

.title_line:after {
  content: "";
  position: relative;
  bottom: -3rem;
  left: 0;
  right: 0;
  height: 1rem;
  display: block;
  background: #ffffff;
}

.title_line img {
  -webkit-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
}

.title_line-top {
  width: 110%;
  margin-top: -6rem;
  margin-left: -5%;
  margin-right: -5%;
  -webkit-transform: rotate(-3.5deg);
  -ms-transform: rotate(-3.5deg);
  transform: rotate(-3.5deg);
  background: #ffffff;
  padding: 1rem 0 2rem;
  text-align: right;
  position: relative;
  z-index: 90;
  margin-bottom: 3rem;
}

.title_line-top:before {
  content: "";
  position: relative;
  top: -3rem;
  left: 0;
  right: 0;
  height: 1rem;
  display: block;
  background: #ffffff;
}

.title_line-top img {
  -webkit-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
}

.title_dark_02 {
  border-top: 1rem solid #C7BFC3;
  padding-top: 6.5rem;
  padding-bottom: 7rem;
  margin-top: 4rem;
  background: url("../images/bg_dark.jpg") no-repeat center;
  background-size: cover;
  position: relative;
}

.title_dark_02:after {
  content: "";
  background: url("../images/line_bg_pink.png") no-repeat top center;
  display: block;
  z-index: 9;
  width: 100%;
  height: 10rem;
  position: absolute;
  bottom: 0rem;
  left: 0;
  right: 0;
}

.title_dark {
  padding-top: 15rem;
  padding-bottom: 7rem;
  margin-top: -9rem;
  background: url("../images/bg_dark.jpg") no-repeat center;
  background-size: cover;
  position: relative;
}

.title_dark:after {
  content: "";
  background: url("../images/line_bg.png") no-repeat top center;
  display: block;
  z-index: 9;
  max-width: 1890px;
  width: 100%;
  margin: auto;
  height: 10rem;
  position: absolute;
  bottom: 0rem;
  left: 0;
  right: 0;
  margin-bottom: -1px;
}

.title_dark .title_h3 {
  margin-top: 8rem;
}

.listItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*======================================
        Header
======================================*/
.header {
  padding: 3.8rem 0 1.8rem;
}

.header .logo {
  margin-top: -1.8rem;
  width: 60%;
}

.header .nav-header {
  margin-top: 2rem;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header .nav-header a {
  margin-left: 2rem;
}

/*    main-visual
---------------------------------------*/
.main-visual {
  background: url("../images/bg_main.jpg") no-repeat top center;
  background-size: cover;
  height: 117rem;
  position: relative;
  text-align: center;
}

.main-visual .title_h2 {
  position: absolute;
  top: calc(50% - 36rem);
  left: 0;
  right: 0;
}

.main-visual .title_h3 {
  position: absolute;
  bottom: 200px;
  left: 0;
  right: 0;
}

.main-visual .btn {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
}

/*    main-visual_02
---------------------------------------*/
.main-visual_02 {
  padding-top: 100px;
  background: url("../images/bg_02.jpg") no-repeat top center;
  background-size: cover;
  height: 95rem;
  text-align: center;
  position: relative;
}

.main-visual_02 .text {
  font-weight: bold;
  padding-top: 4rem;
  font-size: 3.1rem;
  color: #ffffff;
  line-height: 1.8;
  text-align: center;
}

/*    local_01
---------------------------------------*/
.local_01 {
  margin: -12rem -3% 0 -3%;
  padding: 10rem 0 13rem;
  background: url("../images/bg_gray.jpg") no-repeat top center;
  background-size: cover;
}

.local_01 .container {
  position: relative;
}

.local_01 .container:before {
  content: "";
  background: url("../images/img_man.png") no-repeat;
  background-size: contain;
  position: absolute;
  width: 78%;
  height: 40%;
  top: -17%;
  left: -31%;
  z-index: 99;
}

@media only screen and (max-width: 767px) {
  .local_01 .container:before {
    left: -48%;
    top: -77vw;
    width: 106vw;
  }
}

.local_01 .container:after {
  content: "";
  background: url("../images/circle_bg_01.png") no-repeat;
  background-size: contain;
  position: absolute;
  width: 42%;
  height: 16%;
  right: 0;
  bottom: -4%;
  opacity: 0.5;
}

.local_01 .text {
  color: #ffffff;
  padding-top: 2rem;
}

.local_01 .listItems {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.local_01 .listItems:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  -webkit-transform: rotate(-2.5deg);
  -ms-transform: rotate(-2.5deg);
  transform: rotate(-2.5deg);
  width: 100%;
  display: block;
  border-top: 5px dotted #ffffff;
}

.local_01 .listItems:nth-child(even) {
  padding-right: 3%;
}

.local_01 .listItems:nth-child(odd) {
  padding-left: 3%;
}

.local_01 .listItems .items_thumb {
  position: relative;
  z-index: 100;
  width: 45%;
}

.local_01 .listItems .items_description {
  padding-top: 2rem;
  position: relative;
  z-index: 9;
  width: 47%;
}

/*    local_02
---------------------------------------*/
.local_02 .title_h2 {
  padding-top: 7.5rem;
  position: relative;
  z-index: 999;
}

.local_02 .title_h3 {
  padding: 4.7rem 0 2.5rem;
}

.local_02 .text {
  position: relative;
  z-index: 99;
  max-width: 448px;
}

.local_02 .img_banner_01 {
  margin-top: -28rem;
  margin-left: -1rem;
  margin-right: -7rem;
}

/*    local_03
---------------------------------------*/
.local_03 {
  padding: 8rem 0 7rem;
  background: url("../images/bg_pink.jpg") no-repeat center top;
  background-size: cover;
}

.local_03 .text {
  padding: 2rem 0 4rem;
  text-align: center;
  color: #ffffff;
}

.local_03 .img_banner_02 {
  margin-right: -4.2rem;
}

.local_03 .listItems {
  margin-top: 4rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.local_03 .items_description {
  width: 54%;
}

.local_03 .items_description .title_h3 {
  margin-left: -1.5rem;
}

.local_03 .items_description .text {
  max-width: 460px;
}

.local_03 .items_thumb {
  width: 44%;
}

/*    local_step
---------------------------------------*/
.local_step {
  margin-top: -12rem;
  background: url("../images/bg_pink_02.jpg") no-repeat center top;
  background-size: cover;
  padding: 14rem 0 4.5rem;
  border-bottom: 2rem solid #910051;
}

.local_step .listItems .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  z-index: 9;
}

.local_step .listItems .items:not(:last-child):after {
  content: "";
  padding: 3.5rem 0;
  position: relative;
  display: block;
  margin: auto;
  background: url("../images/arrow_step.png") no-repeat center;
  text-align: center;
  z-index: 99;
  width: 100%;
  height: 56px;
  left: 4rem;
}

.local_step .items_04 .text {
  position: absolute;
  top: 19rem;
  right: 7rem;
  width: 409px;
}

.local_step .items_04 .text_img {
  position: absolute;
  bottom: 56px;
  left: 41px;
}

.local_step .avatar {
  width: 360px;
}

.local_step .description {
  color: #ffffff;
  padding-left: 25px;
  width: 506px;
}

.local_step .description .text {
  padding-top: 1.5rem;
}

/*    local_04
---------------------------------------*/
.local_04 {
  padding: 8.5rem 0 7rem;
  background: url("../images/bg_dark.jpg") no-repeat top center;
  background-size: cover;
}

.local_04 .title_h2 {
  padding-bottom: 3.8rem;
}

/*    local_05
---------------------------------------*/
.local_05 {
  padding: 9rem 0;
}

.local_05 .img_banner {
  margin-right: -2rem;
}

.local_05 .info {
  padding: 8rem 0 7rem;
}

.local_05 .info .title_h3 {
  padding-bottom: 3.5rem;
}

.local_05 .table {
  width: 880px;
  border: 1px solid #260002;
}

.local_05 .table tr td {
  border-bottom: 1px solid #260002;
  color: #260002;
  font-size: 2.8rem;
  padding: 2rem;
  font-weight: bold;
  line-height: 1.5;
}

.local_05 .table tr td:nth-child(odd) {
  width: 25%;
  background: #C5B8B8;
}

.local_05 .table tr td:nth-child(even) {
  width: 75%;
}

/*======================================
        Footer
======================================*/
.footer {
  background: #140000;
  color: #fff;
  padding: 4.5rem 0 10rem;
}

.footer .nav-footer {
  font-size: 1.1rem;
  padding-bottom: 10rem;
  line-height: 1.5;
  margin: auto -1.6rem auto -1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer .nav-footer li {
  margin-bottom: 1.5rem;
}

.footer .copyright {
  font-size: 0.9rem;
  text-align: center;
}

.footer .logo_footer_li {
  margin-top: -1.5rem;
}

/*======================================
        Helper
======================================*/
.is_pc {
  display: inherit;
}

.is_sp {
  display: none;
}

.is_hidden {
  display: none;
}

.tar {
  text-align: right !important;
}

.tal {
  text-align: left !important;
}

.tac {
  text-align: center !important;
}

.float_left {
  float: left;
}

.float_right {
  float: right !important;
}

.bold {
  font-weight: bold;
}

.pl-3p {
  padding-left: 3%;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-10 {
  margin-top: 1rem;
}

.mt-20 {
  margin-top: 2rem;
}

.mt-30 {
  margin-top: 3rem;
}

.mt-50 {
  margin-top: 5rem;
}

.mt-80 {
  margin-top: 8rem;
}

.ml--4p {
  margin-left: -4%;
}

.mr--4p {
  margin-right: -4%;
}

.ml--9p {
  margin-left: -9%;
}

.mr--9p {
  margin-right: -9%;
}

.ml--14p {
  margin-left: -14%;
}

.mr--7p {
  margin-right: -7%;
}

.mr--1p {
  margin-right: -1%;
}

.l--6 {
  left: -6rem;
}
