/*======================================
        Helper
======================================*/
.is_pc {
    display: inherit;
}
.is_sp {
    display: none;
}
.is_hidden {
    display: none;
}
.tar {
    text-align: right!important;
}
.tal {
    text-align: left!important;
}
.tac {
    text-align: center!important;
}
.float_left {
    float: left;
}
.float_right {
    float: right!important;
}
.brd_none {
    border: 0!important;
}
.pl-3p {
    padding-left: 3%;
}
.mt-0 {
    margin-top: 0!important;
}
.mt-10 {
    margin-top: 1rem;
}
.mt-20 {
    margin-top: 2rem;
}
.mt-30 {
    margin-top: 3rem;
}
.mt-50 {
    margin-top: 5rem;
}
.mt-80 {
    margin-top: 8rem;
}
.ml--14p {
    margin-left: -14%;
}
.mr--7p {
    margin-right: -7%;
}
.mr--1p {
    margin-right: -1%;
}


.w-22 {
    max-width: 22%;
}
.w-25 {
    max-width: 25%;
}
.w-57 {
    max-width: 57.8%;
}
.w-62 {
    max-width: 62%;
}
.w-66 {
    max-width: 66%;
}
.w-75 {
    max-width: 75%;
}
.w-94 {
    max-width: 94%;
}
