/*======================================
        Helper
======================================*/
.is_pc {
    display: inherit;
}
.is_sp {
    display: none;
}
.is_hidden {
    display: none;
}
.tar {
    text-align: right!important;
}
.tal {
    text-align: left!important;
}
.tac {
    text-align: center!important;
}
.float_left {
    float: left;
}
.float_right {
    float: right!important;
}
.bold {
    font-weight: bold;
}
.pl-3p {
    padding-left: 3%;
}
.mt-0 {
    margin-top: 0!important;
}
.mt-10 {
    margin-top: 1rem;
}
.mt-20 {
    margin-top: 2rem;
}
.mt-30 {
    margin-top: 3rem;
}
.mt-50 {
    margin-top: 5rem;
}
.mt-80 {
    margin-top: 8rem;
}
.ml--4p {
    margin-left: -4%;
}
.mr--4p {
    margin-right: -4%;
}
.ml--14p {
    margin-left: -14%;
}
.mr--7p {
    margin-right: -7%;
}
.mr--1p {
    margin-right: -1%;
}
