/*    main-visual
---------------------------------------*/
.main-visual {
    background: url('../images/bg_main.jpg') no-repeat top center;
    background-size: cover;
    height: 120vh;
    position: relative;
    text-align: center;
    @include mqSm {
        height: 100vh;
    };
    .title_h2 {
        position: absolute;
        top: calc(50% - 35rem);
        left: 0;
        right: 0;
        @include mqSm {
            top: 30%;
            padding-left: 5%;
            padding-right: 5%;
        };
    }
    .title_h3 {
        position: absolute;
        bottom: 16%;
        left: 0;
        right: 0;
        @include mqSm {
            padding-left: 5%;
            padding-right: 5%;
        };
    }
    .btn {
        position: absolute;
        bottom: 4%;
        left: 0;
        right: 0;
        @include mqSm {
            padding-left: 5%;
            padding-right: 5%;
        };
    }
}
/*    main-visual_02
---------------------------------------*/
.main-visual_02 {
    padding-top: 100px;
    background: url('../images/bg_02.jpg') no-repeat top center;
    background-size: cover;
    height: 90rem;
    text-align: center;
    position: relative;
    @include mqSm {
        padding-top: 8vw;
        height: 130vw;
    };
    .text {
        padding-top: 4rem;
        font-size: 3.1rem;
        color: $color-a;
        line-height: 1.8;
        text-align: center;
        @include mqSm {
            padding-top: 5vw;
            font-size: 4.1vw;
        };
    }
}
/*    local_01
---------------------------------------*/
.local_01 {
    margin: -10rem -3% 0 -3%;
    margin-top: -10rem;
    padding: 10rem 0 8rem;
    background: url('../images/bg_gray.jpg') no-repeat top center;
    background-size: cover;
    .container {
        position: relative;
        &:before {
            content: "";
            background: url('../images/img_man.png') no-repeat;
            background-size: contain;
            position: absolute;
            width: 78%;
            height: 40%;
            top: -19.5%;
            left: -31%;
            z-index: 99;
            @include mqSm {
                left: -48%;
                top: -77vw;
                width: 106vw;
            };
        }
        &:after {
            content: "";
            background: url('../images/circle_bg_01.png') no-repeat;
            background-size: contain;
            position: absolute;
            width: 42%;
            height: 16%;
            right: 0;
            bottom: -4%;
            opacity: 0.5;
        }
    }
    .text {
        color: $color-a;
        padding-top: 2rem;
    }
    .listItems {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 2rem;
        justify-content: space-between;
        &:before {
            content: "";
            position: absolute;
            top: 8px;
            left: 0;
            right: 0;
            transform: rotate(-2.5deg);
            width: 100%;
            display: block;
            border-top: 5px dotted $color-a;
        }
        &:nth-child(even) {
            padding-right: 3%;
        }
        &:nth-child(odd) {
            padding-left: 3%;
        }
        // &:last-child {
        //     &:after {
        //         content: "";
        //         position: absolute;
        //         left: 0;
        //         right: 0;
        //         bottom: 0;
        //         transform: rotate(-2.5deg);
        //         width: 100%;
        //         display: block;
        //         border-bottom: 5px dotted $color-a;
        //     }
        // }
        .items_thumb {
            position: relative;
            z-index: 100;
            width: 45%;
        }
        .items_description {
            padding-top: 2rem;
            position: relative;
            z-index: 9;
            width: 52%;
        }
    }
}
/*    local_02
---------------------------------------*/
.local_02 {
    .title_h2 {
        margin-top: 8rem;
        position: relative;
        z-index: 999;
        @include mqSm {
            margin-top: -10vw;
        };
    }
    .title_h3 {
        padding: 4rem 0 2.5rem;
        @include mqSm {
            padding: 5vw 0 4vw;
        };
    }
    .text {
        position: relative;
        z-index: 99;
        max-width: 448px;
        @include mqSm {
            width: 55%;
        };
    }
    .img_banner_01 {
        margin-top: -28rem;
        margin-left: -1rem;
        margin-right: -7rem;
        @include mqSm {
            margin-top: -32vw;
            margin-right: -3.5rem;
        };
    }
}
/*    local_03
---------------------------------------*/
.local_03 {
    padding: 8rem 0 4rem;
    // background: #D71873;
    background: url('../images/bg_pink.jpg') no-repeat center top;
    background-size: cover;
    @include mqSm {
        padding-top: 0;
    };
    // height: 800px;
    // .container {
    //     position: relative;
    //     &:before {
    //         content: "";
    //         background: url('../images/circle_bg_02.png') no-repeat;
    //         background-size: contain;
    //         position: absolute;
    //         top: 0;
    //         left: -10%;
    //         width: 45%;
    //         height: 18%;
    //         // opacity: 0.5;
    //     }
    // }
    .text {
        padding: 2rem 0 4rem;
        text-align: center;
        color: $color-a;
        @include mqSm {
            padding: 1rem 0 2rem;
        };
    }
    .img_banner_02 {
        margin-right: -4.2rem;
        @include mqSm {
            margin-right: -5.5vw;
        };
    }
    .listItems {
        margin-top: 4rem;
        justify-content: space-between;
        @include mqSm {
            margin-top: 5vw;
        };
    }
    .items_description {
        width: 54%;
        .title_h3 {
            margin-left: -1.5rem;
        }
        .text {
            max-width: 460px;
        }
    }
    .items_thumb {
        width: 44%;
    }
}
/*    local_step
---------------------------------------*/
.local_step {
    margin-top: -9rem;
    // background: #D71873;
    background: url('../images/bg_pink.jpg') no-repeat center top;
    background-size: cover;
    padding: 8rem 0 4rem;
    border-bottom: 2rem solid #910051;
    @include mqSm {
        padding: 8rem 0 2rem;
        border-bottom: 1rem solid #910051;
    };
    .container {
        position: relative;
        &:after {
            content: "";
            background: url('../images/circle_bg_02.png') no-repeat;
            background-size: contain;
            position: absolute;
            bottom: 30%;
            right: -25%;
            width: 50%;
            height: 22%;
            // opacity: 0.5;
        }
    }
    .listItems {
        .items {
            position: relative;
            z-index: 9;
            &:not(:last-child) {
                &:after {
                    content: "";
                    padding: 3.5rem 0;
                    position: relative;
                    display: block;
                    margin: auto;
                    background: url('../images/arrow_step.png') no-repeat center;
                    text-align: center;
                    z-index: 99;
                    width: 85px;
                    height: 56px;
                    @include mqSm {
                        padding: 2rem 0;
                        width: 12vw;
                        background-size: contain;
                    };
                }
            }
        }
    }
}
/*    local_04
---------------------------------------*/
.local_04 {
    padding: 8.5rem 0 7rem;
    background: url('../images/bg_dark.jpg') no-repeat top center;
    background-size: cover;
    @include mqSm {
        padding: 10vw 0 8vw;
    };
    .title_h2 {
        padding-bottom: 3.8rem;
        @include mqSm {
            padding-bottom: 5vw;
        };
    }
}
/*    local_05
---------------------------------------*/
.local_05 {
    padding: 9rem 0;
    @include mqSm {
        padding: 10vw 0;
    };
    .img_banner {
        margin-right: -2rem;
        @include mqSm {
            margin-right: -1vw;
        };
    }
    .info {
        padding: 8rem 0 7rem;
        @include mqSm {
            padding: 8vw 0;
        };
        .title_h3 {
            padding-bottom: 3.5rem;
            @include mqSm {
                padding-bottom: 4vw;
            };
        }
    }
    .table {
        width: 100%;
        border: 1px solid #260002;
        tr {
            // position: relative;
            // &:after {
            //     content: "";
            //     position: relative;
            //     width: 80%;
            //     background: #260002;
            //     height: 1px;
            //     display: block;
            // }
            td {
                border-bottom: 1px solid #260002;
                color: #260002;
                font-size: 2.8rem;
                padding: 2rem;
                line-height: 1.5;
                @include mqSm {
                    font-size: 3.5vw;
                    padding: 4vw 3vw;
                };
                &:nth-child(odd) {
                    font-weight: bold;
                    width: 25%;
                    background: #C5B8B8;
                    @include mqSm {
                        width: 35%;
                    };
                }
                &:nth-child(even) {
                    width: 75%;
                    @include mqSm {
                        width: 65%;
                    };
                }
            }
        }
    }
}
