/*------------------- Wraper -------------------*/
.wrapper {
    overflow: hidden;
    // ...
}
.row_clear {
    @extend %clearfix;
}
.container {
    // @extend %clearfix;
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    padding: 0 3.7%;
}

.wrap-fl {
    display: flex;
    flex-wrap: wrap;
}

/*------------------- Component -------------------*/
.title_h2 {
    font-size: 24px;
    color: $color-primary;
    line-height: 1.8;
    font-weight: bold;
    position: relative;
}
.title_h3 {
    // font-size: 24px;
    // line-height: 1.8;
    // color: $color-primary;
    // font-weight: bold;
}
.title_A {
    // font-size: 24px;
    // color: $color-primary;
    // line-height: 1.8;
    // font-weight: bold;
}
.title_B {
    // font-size: 24px;
    // line-height: 1.8;
    // color: $color-primary;
    // font-weight: bold;
}
.text {
    // padding:
    font-size: 2.6rem;
    line-height: 1.6;
    text-align: justify;
    @include mqSm {
        font-size: 3.5vw;
    };
}
.title_line {
    width: 110%;
    margin-top: -4rem;
    margin-left: -5%;
    margin-right: -5%;
    transform: rotate(-2deg);
    background: $color-a;
    padding: 3rem 0 1rem;
    text-align: right;
    position: relative;
    z-index: 90;
    margin-bottom: 6rem;
    &:after {
        content: "";
        position: relative;
        bottom: -3rem;
        left: 0;
        right: 0;
        height: 1rem;
        display: block;
        background: $color-a;
    }
    img {
        transform: rotate(4deg);
    }
}
.title_line-top {
    width: 110%;
    margin-top: -4rem;
    margin-left: -5%;
    margin-right: -5%;
    transform: rotate(-2deg);
    background: $color-a;
    padding: 1rem 0 2rem;
    text-align: right;
    position: relative;
    z-index: 90;
    margin-bottom: 3rem;
    &:before {
        content: "";
        position: relative;
        top: -3rem;
        left: 0;
        right: 0;
        height: 1rem;
        display: block;
        background: $color-a;
    }
    img {
        transform: rotate(4deg);
    }
}
.title_dark_02 {
    border-top: 1rem solid #C7BFC3;
    padding-top: 6.5rem;
    padding-bottom: 7rem;
    margin-top: 4rem;
    background: url("../images/bg_dark.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    @include mqSm {
        padding-top: 5vw;
        padding-bottom: 20vw;
    };
    &:after {
        content: "";
        background: url('../images/line_bg_pink.png') no-repeat top center;
        background-size: cover;
        display: block;
        z-index: 9;
        width: 100%;
        height: 10rem;
        position: absolute;
        bottom: 0rem;
        left: 0;
        right: 0;
    }
}
.title_dark {
    padding-top: 13rem;
    padding-bottom: 7rem;
    margin-top: -6rem;
    background: url("../images/bg_dark.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    @include mqSm {
        padding-top: 15vw;
        padding-bottom: 24vw;
    };
    &:after {
        content: "";
        background: url('../images/line_bg.png') no-repeat top center;
        background-size: cover;
        display: block;
        z-index: 9;
        width: 100%;
        height: 10rem;
        position: absolute;
        bottom: 0rem;
        left: 0;
        right: 0;
        margin-bottom: -1px;
    }
    .title_h3 {
        margin-top: 8rem;
        @include mqSm {
            margin-top: 6vw;
        };
    }
}

.listItems {
    display: flex;
    flex-wrap: wrap;
}
